@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSansReg;
  src: url("../NotoSans-Regular.ttf");
}

* {
  font-family: "NotoSansReg", sans-serif;
}
.active-btn .drop-btn {
  transform: rotate(180deg);
}
.active-btn .ul {
  display: inline;
}
