@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSansReg;
  src: url("../NotoSans-Regular.ttf");
}

* {
  font-family: "NotoSansReg", sans-serif;
}
.active-btn .drop-btn {
  transform: rotate(180deg);
}
.active-btn .ul {
  display: inline;
}
.nav-menu {
  display: none;
}
.hamburger-menu.active {
  display: none;
}
.hamburger-close {
  display: none;
}
.hamburger-close.active {
  display: inline;
}
@media (min-width: 1024px) {
  .nav-menu {
    display: flex;
  }
}
.nav-menu.active {
  display: flex;
}
